bin
obj
csx
.vs
edge
Publish
/playground.js
*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/test
/packages
/TestResults
/BlobPracticeInline
/node_modules
/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json
